<!doctype html>
<html>
 <head lang="ru"> 
  <meta charset="UTF-8"> 
  <title>News of the IXBT</title> 
 </head> 
 <body> 
  <table width="1025" border="1" cellspacing="1" cellpadding="0" class="main_table"> 
   <tbody> 
    <tr> 
     <th width="150">Дата</th> 
     <th>Ком</th> 
     <th>Заголовок</th> 
    </tr>                                                  
    <tr class="news"> 
     <td class="date">2015.12.02 20:57</td> 
     <td class="comments"><a href=".//ace-data-recovery-ssd-samsung-840-evo.html">15</a></td> 
     <td class="header"><a href=".//ace-data-recovery-ssd-samsung-840-evo.html">Специалисты ACE Data Recovery научились считывать данные с отказавших SSD Samsung 840 EVO</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 17:20</td> 
     <td class="comments"><a href=".//cm-storm-sentinel-iii-oled-avago-3988.html">18</a></td> 
     <td class="header"><a href=".//cm-storm-sentinel-iii-oled-avago-3988.html">Игровая мышь CM Storm Sentinel III оснащена дисплеем OLED и оптическим датчиком Avago 3988</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 16:15</td> 
     <td class="comments"><a href=".//huawei-enjoy-5s-soc-mediatek-mt6753t.html">0</a></td> 
     <td class="header"><a href=".//huawei-enjoy-5s-soc-mediatek-mt6753t.html">Смартфон Huawei Enjoy 5S базируется на восьмиядерной SoC MediaTek MT6753T</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 15:40</td> 
     <td class="comments"><a href=".//smartisan-t2-qualcomm-snapdragon-808.html">7</a></td> 
     <td class="header"><a href=".//smartisan-t2-qualcomm-snapdragon-808.html">Готовится к выпуску смартфон Smartisan T2 на платформе Qualcomm Snapdragon 808</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 14:44</td> 
     <td class="comments"><a href=".//vivo-y51-2-960-540.html">2</a></td> 
     <td class="header"><a href=".//vivo-y51-2-960-540.html">Смартфон vivo Y51 получил 2 ГБ ОЗУ и экран разрешением 960 х 540 пикселей</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 14:17</td> 
     <td class="comments"><a href=".//samsung-smenjaet-glavu-mobilnogo-podrazdelenija.html">39</a></td> 
     <td class="header"><a href=".//samsung-smenjaet-glavu-mobilnogo-podrazdelenija.html">Samsung сменяет главу мобильного подразделения</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 12:30</td> 
     <td class="comments"><a href=".//sage-microeclectronics-ssd-2-5-10.html">40</a></td> 
     <td class="header"><a href=".//sage-microeclectronics-ssd-2-5-10.html">Sage Microelectronics продемонстрировала SSD типоразмера 2,5 дюйма объемом 10 ТБ</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 11:22</td> 
     <td class="comments"><a href=".//pentax-eshe-raz-napominaet-o-namerenii-vypustit-cifrovuju-zerkalnuju-kameru-novogo-formata.html">24</a></td> 
     <td class="header"><a href=".//pentax-eshe-raz-napominaet-o-namerenii-vypustit-cifrovuju-zerkalnuju-kameru-novogo-formata.html">Pentax еще раз напоминает о намерении выпустить цифровую зеркальную камеру «нового формата»</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 10:22</td> 
     <td class="comments"><a href=".//soc-qualcomm-snapdragon-830-8.html">29</a></td> 
     <td class="header"><a href=".//soc-qualcomm-snapdragon-830-8.html">По слухам, SoC Qualcomm Snapdragon 830 будет поддерживать до 8 ГБ оперативной памяти</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 10:02</td> 
     <td class="comments"><a href=".//mark-cukerberg-perechislit-99-svoj-akcij-facebook-na-blagotvoritelnost.html">56</a></td> 
     <td class="header"><a href=".//mark-cukerberg-perechislit-99-svoj-akcij-facebook-na-blagotvoritelnost.html">Марк Цукерберг перечислит 99% своих акций Facebook на благотворительность</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 10:00</td> 
     <td class="comments"><a href=".//seagate-newisys-ssd-1.html">8</a></td> 
     <td class="header"><a href=".//seagate-newisys-ssd-1.html">Seagate и Newisys показали в действии хранилище данных на базе SSD, развивающее скорость передачи данных 1 ТБ/с</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 09:29</td> 
     <td class="comments"><a href=".//yahoo-rassmatrivaet-vopros-o-prodazhe-biznesa.html">14</a></td> 
     <td class="header"><a href=".//yahoo-rassmatrivaet-vopros-o-prodazhe-biznesa.html">Yahoo рассматривает вопрос о продаже бизнеса</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 09:12</td> 
     <td class="comments"><a href=".//lg-zero-lg-class.html">4</a></td> 
     <td class="header"><a href=".//lg-zero-lg-class.html">Смартфон LG Zero является копией ранее представленного LG Class с уменьшенным объемом оперативной памяти</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 09:00</td> 
     <td class="comments"><a href=".//cooler-master-mastergel-maker.html">24</a></td> 
     <td class="header"><a href=".//cooler-master-mastergel-maker.html">В состав термопасты Cooler Master MasterGel Maker входят алмазные наночастицы</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:58</td> 
     <td class="comments"><a href=".//oneplus-iphone-6-oneplus-x.html">21</a></td> 
     <td class="header"><a href=".//oneplus-iphone-6-oneplus-x.html">OnePlus выпустила для iPhone 6 чехол, покупатели которого могут получить OnePlus X в подарок</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:45</td> 
     <td class="comments"><a href=".//v-rossii-budut-borotsja-s-podmenoj-nomerov-operatorami-telefonnoj-svjazi.html">29</a></td> 
     <td class="header"><a href=".//v-rossii-budut-borotsja-s-podmenoj-nomerov-operatorami-telefonnoj-svjazi.html">В России будут бороться с подменой номеров операторами телефонной связи</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:24</td> 
     <td class="comments"><a href=".//intel-apollo-lake-2016.html">3</a></td> 
     <td class="header"><a href=".//intel-apollo-lake-2016.html">По слухам, Intel запустит в производство бюджетные процессоры Apollo Lake летом 2016</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:08</td> 
     <td class="comments"><a href=".//apacer-panther-ddr4.html">0</a></td> 
     <td class="header"><a href=".//apacer-panther-ddr4.html">Apacer Panther DDR4: модули памяти для любителей разгона</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:04</td> 
     <td class="comments"><a href=".//samsung-display-lg-display-2015.html">27</a></td> 
     <td class="header"><a href=".//samsung-display-lg-display-2015.html">Samsung Display готовится обойти LG Display по продажам во втором полугодии 2015</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 08:00</td> 
     <td class="comments"><a href=".//msi-z170a-krait-gaming-r6-siege-tom-clancy-s-rainbow-six-siege.html">1</a></td> 
     <td class="header"><a href=".//msi-z170a-krait-gaming-r6-siege-tom-clancy-s-rainbow-six-siege.html">Покупатели системных плат MSI Z170A KRAIT Gaming R6 Siege смогут получить бесплатно игру Tom Clancy's Rainbow Six Siege</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.02 07:00</td> 
     <td class="comments"><a href=".//xiaomi-mi4-windows-10-mobile.html">3</a></td> 
     <td class="header"><a href=".//xiaomi-mi4-windows-10-mobile.html">Завтра владельцы смартфонов Xiaomi Mi4 получат возможность установить на свои аппараты финальную версию ОС Windows 10 Mobile</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 20:43</td> 
     <td class="comments"><a href=".//amd-radeon-software-crimson-edition-15-11-1-update-gpu.html">15</a></td> 
     <td class="header"><a href=".//amd-radeon-software-crimson-edition-15-11-1-update-gpu.html">AMD выпустила обновление Radeon Software Crimson Edition 15.11.1 Update, в котором устранена ошибка, в некоторых случаях приводившая к перегреву GPU</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 20:28</td> 
     <td class="comments"><a href=".//bill-gejts-predstavil-mnogomilliardnuju-iniciativu-prizvannuju-stimulirovat-jekologicheski-chistoe-proizvodstvo-jenergii.html">15</a></td> 
     <td class="header"><a href=".//bill-gejts-predstavil-mnogomilliardnuju-iniciativu-prizvannuju-stimulirovat-jekologicheski-chistoe-proizvodstvo-jenergii.html">Билл Гейтс представил многомиллиардную инициативу, призванную стимулировать экологически чистое производство энергии</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 19:09</td> 
     <td class="comments"><a href=".//u-toshiba-gotov-tehprocess-tarf8-optimizirovannyj-dlja-izgotovlenija-integralnyh-radiochastotnyh-kommutatorov.html">1</a></td> 
     <td class="header"><a href=".//u-toshiba-gotov-tehprocess-tarf8-optimizirovannyj-dlja-izgotovlenija-integralnyh-radiochastotnyh-kommutatorov.html">У Toshiba готов техпроцесс TaRF8, оптимизированный для изготовления интегральных радиочастотных коммутаторов</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 18:25</td> 
     <td class="comments"><a href=".//nvidia-geforce-gtx-750-gpu-gm206.html">8</a></td> 
     <td class="header"><a href=".//nvidia-geforce-gtx-750-gpu-gm206.html">Nvidia выпустит обновлённую видеокарту GeForce GTX 750 с GPU GM206</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 18:03</td> 
     <td class="comments"><a href=".//na-sozdanie-kovrika-rvp01-specialisty-silverstone-potratili-sem-let.html">33</a></td> 
     <td class="header"><a href=".//na-sozdanie-kovrika-rvp01-specialisty-silverstone-potratili-sem-let.html">На создание коврика RVP01 специалисты SilverStone потратили семь лет</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 17:50</td> 
     <td class="comments"><a href=".//acer-liquid-x2-13-sim.html">24</a></td> 
     <td class="header"><a href=".//acer-liquid-x2-13-sim.html">Смартфон Acer Liquid X2: две камеры разрешением 13 Мп, три слота для карт SIM и четыре тысячи мА·ч ёмкости АКБ</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 16:34</td> 
     <td class="comments"><a href=".//tsinghua-unigroup-sk-hynix-4-7.html">0</a></td> 
     <td class="header"><a href=".//tsinghua-unigroup-sk-hynix-4-7.html">Tsinghua Unigroup приписывают намерение купить часть SK Hynix за 4,7 млрд долларов</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 16:04</td> 
     <td class="comments"><a href=".//aerocool-xpredator-gm-80-plus-gold.html">1</a></td> 
     <td class="header"><a href=".//aerocool-xpredator-gm-80-plus-gold.html">Блоки питания AeroCool XPredator GM прошли сертификацию 80 Plus Gold</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 15:21</td> 
     <td class="comments"><a href=".//amd-fx-zen.html">16</a></td> 
     <td class="header"><a href=".//amd-fx-zen.html">Подтвержден срок выхода процессоров AMD FX на микроархитектуре Zen</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 15:02</td> 
     <td class="comments"><a href=".//syncphone-windows-10.html">76</a></td> 
     <td class="header"><a href=".//syncphone-windows-10.html">SyncPhone — первый смартфон с настольной версией Windows 10</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 13:44</td> 
     <td class="comments"><a href=".//noctua-industrialppc-24.html">5</a></td> 
     <td class="header"><a href=".//noctua-industrialppc-24.html">Noctua добавляет в серию IndustrialPPC вентиляторы, рассчитанные на напряжение питания 24 В</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 12:53</td> 
     <td class="comments"><a href=".//huawei-mate-8-16-soc-kirin-950-6.html">11</a></td> 
     <td class="header"><a href=".//huawei-mate-8-16-soc-kirin-950-6.html">Смартфон Huawei Mate 8 на 16-нанометровой SoC Kirin 950 оснащен 6-дюймовым дисплеем</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 11:58</td> 
     <td class="comments"><a href=".//pentax-645z-ir.html">10</a></td> 
     <td class="header"><a href=".//pentax-645z-ir.html">Представлена камера среднего формата Pentax 645Z IR, чувствительная в инфракрасном диапазоне</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 11:29</td> 
     <td class="comments"><a href=".//oppo-a53-snapdragon-616.html">0</a></td> 
     <td class="header"><a href=".//oppo-a53-snapdragon-616.html">Oppo A53 — смартфон с металлическим корпусом и платформой Snapdragon 616</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 11:22</td> 
     <td class="comments"><a href=".//fia-formula-e-2016-2017.html">8</a></td> 
     <td class="header"><a href=".//fia-formula-e-2016-2017.html">Первые гонки беспилотных автомобилей в рамках чемпионата FIA Formula E запланированы на сезон 2016/2017</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 11:09</td> 
     <td class="comments"><a href=".//vivo-x6-x6plus-es9028.html">5</a></td> 
     <td class="header"><a href=".//vivo-x6-x6plus-es9028.html">Представлены смартфоны vivo X6 и X6Plus с металлическими корпусами и ЦАП ES9028</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 10:50</td> 
     <td class="comments"><a href=".//rutracker-provedet-uchenija-po-grazhdanskoj-oborone.html">31</a></td> 
     <td class="header"><a href=".//rutracker-provedet-uchenija-po-grazhdanskoj-oborone.html">RuTracker проведет «Учения по Гражданской обороне»</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 10:30</td> 
     <td class="comments"><a href=".//nuans-neo-windows-10-mobile-continuum.html">11</a></td> 
     <td class="header"><a href=".//nuans-neo-windows-10-mobile-continuum.html">NuAns Neo — еще один японский смартфон с Windows 10 Mobile, возможной функцией Continuum и большим количеством сменных панелей</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 10:15</td> 
     <td class="comments"><a href=".//google-tesla-spacex.html">5</a></td> 
     <td class="header"><a href=".//google-tesla-spacex.html">Google наняла бывшего сотрудника Tesla, который возглавлял разработку ПО в SpaceX и системы автопилота</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 09:59</td> 
     <td class="comments"><a href=".//nokia-ozo-2016-60-000.html">6</a></td> 
     <td class="header"><a href=".//nokia-ozo-2016-60-000.html">Камера виртуальной реальности Nokia OZO поступит в продажу в первом квартале 2016 по цене $60 000</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 09:32</td> 
     <td class="comments"><a href=".//apple-macbook-air-13-15.html">51</a></td> 
     <td class="header"><a href=".//apple-macbook-air-13-15.html">По слухам, Apple работает над еще более тонкими MacBook Air с дисплеями диагональю 13 и 15 дюймов</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 09:18</td> 
     <td class="comments"><a href=".//samsung-amoled-10-lcd.html">52</a></td> 
     <td class="header"><a href=".//samsung-amoled-10-lcd.html">В Samsung планируют, что в следующем году панели AMOLED будут стоить всего на 10% больше, чем LCD</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 09:05</td> 
     <td class="comments"><a href=".//po-sluham-sharp-prodaet-oborudovanie-i-patenty-chtoby-uluchshit-svoe-finansovoe-polozhenie.html">10</a></td> 
     <td class="header"><a href=".//po-sluham-sharp-prodaet-oborudovanie-i-patenty-chtoby-uluchshit-svoe-finansovoe-polozhenie.html">По слухам, Sharp продает оборудование и патенты, чтобы улучшить свое финансовое положение</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 08:55</td> 
     <td class="comments"><a href=".//foxconn-electronics-10-12-nintendo-nx-2016.html">0</a></td> 
     <td class="header"><a href=".//foxconn-electronics-10-12-nintendo-nx-2016.html">Foxconn Electronics сможет поставить на рынок 10-12 млн новых консолей Nintendo NX до конца 2016 года</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 08:40</td> 
     <td class="comments"><a href=".//lenovo-k32c36-5.html">0</a></td> 
     <td class="header"><a href=".//lenovo-k32c36-5.html">Готовится к дебюту Lenovo K32c36 — 5-дюймовый смартфон на базе восьмиядерного процессора</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 08:00</td> 
     <td class="comments"><a href=".//microsoft-uvolnjaet-vseh-sotrudnikov-izrailskogo-podrazdelenija-kotorye-zanimalis-proektom-hololens.html">14</a></td> 
     <td class="header"><a href=".//microsoft-uvolnjaet-vseh-sotrudnikov-izrailskogo-podrazdelenija-kotorye-zanimalis-proektom-hololens.html">Microsoft увольняет всех сотрудников израильского подразделения, которые занимались проектом HoloLens</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 07:30</td> 
     <td class="comments"><a href=".//razer-i-lenovo-objavili-o-sotrudnichestve.html">0</a></td> 
     <td class="header"><a href=".//razer-i-lenovo-objavili-o-sotrudnichestve.html">Razer и Lenovo объявили о сотрудничестве</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.12.01 07:00</td> 
     <td class="comments"><a href=".//google-project-loon.html">3</a></td> 
     <td class="header"><a href=".//google-project-loon.html">Google начнёт испытания шаров проекта Project Loon по всем США</a></td> 
    </tr>
    <tr class="news template" style="display: none"> 
     <td class="date"></td> 
     <td class="comments"><a href=""></a></td> 
     <td class="header"><a href=""></a></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>