<!doctype html>
<html>
 <head lang="ru"> 
  <meta charset="UTF-8"> 
  <title>Новости IXBT</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Дата</th> 
     <th>Комментарии</th> 
     <th>Заголовок</th> 
    </tr>                             
    <tr class="news"> 
     <td class="date">2015.11.30 21:44</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/zhiteli-moskovskoj-oblasti-nachali-poluchat-uvedomlenija-ot-mvd-i-fssp-v-jelektronnom-vide.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/zhiteli-moskovskoj-oblasti-nachali-poluchat-uvedomlenija-ot-mvd-i-fssp-v-jelektronnom-vide.html">Жители Московской области начали получать уведомления от МВД и ФССП в электронном виде</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 20:07</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/asus-20-3d-geforce-gtx-980-ti-20th-anniversary-edition.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/asus-20-3d-geforce-gtx-980-ti-20th-anniversary-edition.html">Asus отметила 20-летие выпуска 3D-карт моделью GeForce GTX 980 Ti 20th Anniversary Edition</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 16:35</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/v-oksfordskom-universitete-razrabotana-tehnologija-cvetnyh-jenergonezavisimyh-displeev-na-jeffekte-izmenenija-fazovogo.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/v-oksfordskom-universitete-razrabotana-tehnologija-cvetnyh-jenergonezavisimyh-displeev-na-jeffekte-izmenenija-fazovogo.html">В Оксфордском университете разработана технология цветных энергонезависимых дисплеев на эффекте изменения фазового состояния вещества</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 15:33</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/microsoft-nokia-mercury.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/microsoft-nokia-mercury.html">Эван Блэсс опубликовал изображение отмененного планшета Microsoft/Nokia Mercury</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 14:21</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/nikon-af-s-nikkor-24-70mm-f-2-8e-ed-vr.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/nikon-af-s-nikkor-24-70mm-f-2-8e-ed-vr.html">В Nikon объяснили природу артефактов на переднем элементе объектива AF-S Nikkor 24-70mm f/2.8E ED VR</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 13:50</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/qpad-dx-20.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/qpad-dx-20.html">Мышь Qpad DX-20 подходит правшам и левшам</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 13:38</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/amd-amd-radeon-software-crimson-edition.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/amd-amd-radeon-software-crimson-edition.html">AMD признала, что ошибка в драйвере AMD Radeon Software Crimson Edition может привести к перегреву видеокарты</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 12:30</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/philips-241p6vpjkeb-ah-ips-4k-web-hdmi-2-0.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/philips-241p6vpjkeb-ah-ips-4k-web-hdmi-2-0.html">Монитор Philips 241P6VPJKEB оснащен ЖК-панелью AH-IPS разрешением 4K, web-камерой и портом HDMI 2.0</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 10:35</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/nvidia-shield-tablet-x1-android-6-0-gfxbench.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/nvidia-shield-tablet-x1-android-6-0-gfxbench.html">Планшет Nvidia Shield Tablet X1 с ОС Android 6.0 замечен в результатах теста GFXBench</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 10:21</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/amazon-prime-air.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/amazon-prime-air.html">Джереми Кларксон представил новый прототип дрона доставки Amazon из проекта Prime Air</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 09:52</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/docomo-uspeshno-testiruet-tehnologii-5g-v-realnyh-uslovijah.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/docomo-uspeshno-testiruet-tehnologii-5g-v-realnyh-uslovijah.html">Docomo успешно тестирует технологии 5G в реальных условиях</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 09:08</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/shiftwear-e-ink.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/shiftwear-e-ink.html">Кроссовки ShiftWear оснащены гибкими цветными дисплеями E Ink</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 08:53</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/apple-oled-iphone-2017.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/apple-oled-iphone-2017.html">Источники утверждают, что Apple подтвердила намерения использовать дисплеи OLED в iPhone с 2017 года</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 08:40</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/novaja-model-google-glass-mozhet-prevratitsja-v-umnyj-monokl.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/novaja-model-google-glass-mozhet-prevratitsja-v-umnyj-monokl.html">Новая модель Google Glass может превратиться в умный монокль</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 07:30</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/akcii-bang--olufsen-vyrosli-pochti-na-tret-na-fone-informacii-o-vozmozhnoj-prodazhe-kompanii.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/akcii-bang--olufsen-vyrosli-pochti-na-tret-na-fone-informacii-o-vozmozhnoj-prodazhe-kompanii.html">Акции Bang &amp; Olufsen выросли почти на треть на фоне информации о возможной продаже компании</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 07:00</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/ddr3-so-dimm-team-neptune-2133.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/ddr3-so-dimm-team-neptune-2133.html">Оперативная память DDR3 SO-DIMM Team Neptune способна работать на частоте 2133 МГц</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.30 00:44</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/30/phanteks-ph-pwspr-1p2m.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/30/phanteks-ph-pwspr-1p2m.html">Разветвитель Phanteks PH-PWSPR_1P2M позволяет подключить две системы к одному блоку питания</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.29 22:46</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/fossil-q-founder-android-wear.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/fossil-q-founder-android-wear.html">Начались продажи умных часов Fossil Q Founder с ОС Android Wear</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.29 12:55</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/shallots-mediatek-helio-x20.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/shallots-mediatek-helio-x20.html">Компания Shallots обещает выпустить смартфон на платформе MediaTek Helio X20</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.29 12:11</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/2017-90-samsung.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/2017-90-samsung.html">К 2017 году 90% устройств Samsung будут подключены к интернету вещей</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.29 11:49</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/29/apple-3-5-iphone-7.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/29/apple-3-5-iphone-7.html">Apple может отказаться от разъема 3,5 мм для наушников в iPhone 7</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 15:40</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/archos-140-cesium.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/archos-140-cesium.html">Archos 140 Cesium — гибрид планшета и хромбука</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 15:33</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/freetel-katana-01-windows-mobile-10-30-100.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/freetel-katana-01-windows-mobile-10-30-100.html">Смартфон FreeTel Katana 01 с Windows 10 Mobile поступит в продажу 30 ноября по цене чуть более $100</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 15:12</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/volvo-predstavila-servis-dostavki-tovarov-v-avtomobil.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/volvo-predstavila-servis-dostavki-tovarov-v-avtomobil.html">Volvo представила сервис доставки товаров в автомобиль</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 14:41</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/robot-spencer-budet-pomogat-zhiteljam-i-gostjam-amsterdama-v-ajeroportu-shiphol.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/robot-spencer-budet-pomogat-zhiteljam-i-gostjam-amsterdama-v-ajeroportu-shiphol.html">Робот Spencer будет помогать жителям и гостям Амстердама в аэропорту Схипхол</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 12:25</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/3d-amd-radeon-r9-fury-x2.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/3d-amd-radeon-r9-fury-x2.html">Выход 3D-карты AMD Radeon R9 Fury X2 ожидается в декабре</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 10:55</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/samsung-galaxy-a7-2016-sm-a7100-3-tenaa.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/samsung-galaxy-a7-2016-sm-a7100-3-tenaa.html">Смартфон Samsung Galaxy A7 образца 2016 года (SM-A7100) с 3 ГБ ОЗУ замечен в базе данных TENAA</a></td> 
    </tr>
    <tr class="news"> 
     <td class="date">2015.11.28 10:03</td> 
     <td class="comments"><a href="http://www.ixbt.com/news/2015/11/28/mubadala-development-globalfoundries.html#comments_block">0</a></td> 
     <td class="header"><a href="http://www.ixbt.com/news/2015/11/28/mubadala-development-globalfoundries.html">Mubadala Development приписывают намерение продать Globalfoundries</a></td> 
    </tr>
    <tr class="news template" style="display: none"> 
     <td class="date"></td> 
     <td class="comments"><a href=""></a></td> 
     <td class="header"><a href=""></a></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>